<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ClairPrev - PrevIT</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>
<body>
	<div class="container mt-5">
		<h1 class="text-center">ClairPrev Prévoyance - Rechercher un
			assuré</h1>
		<div class="col-md-4 mx-auto mt-5 text-center">

			<form th:action="@{/saisir-assure}" th:object="${cle_assure}"
				method="POST">
				<div class="form-group">
					<label for="exampleInputEmail1">Nom</label> <input type="text"
						class="form-control" id="exampleInputEmail1" th:field="*{nom}"
						placeholder="Nom">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Prénom</label> <input
						type="text" class="form-control" id="exampleInputPassword1"
						placeholder="Prénom" th:field="*{prenom}">
				</div>
				<input type="submit" class="btn btn-info" value="Valider" />
				
			</form>

			<!-- <form th:action="@{/saisir-assure}" th:object="${cle_assure}"
				method="POST">
				Nom : <input type="text" th:field="*{nom}" /> <br /> Prenom : <input
					type="text" th:field="*{prenom}" /> <br /> <input type="submit"
					value="Valider" />
			</form> -->

		</div>
	</div>
	<script type="text/javascript"
		src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>

